# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
.env
*.egg-info/
dist/
build/

# Logs
*.log

# Secrets
.env.local
.env.*.local

.agents/
.claude/

ai_skills_openapi.json
skills-lock.json